{% extends 'Base.html' %}

{% block content %}
    <table>
       

        <form method='post'>
            {% csrf_token %}

            <div class="form-group">
                {{user_username.errors}}
                <label>Usuário: </label>
                {{user_form.username}}
            </div>

            <div class="form-group">
                {{user_form.password1.errors}}
                <label>Usuário: </label>
                {{user_form.password1}}
            </div>

            <div class="form-group">
                {{user_form.password2.errors}}
                <label>Confirmação de senha: </label>
                {{user_form.password2}}
            </div>

            <div class="form-group">
                <input type="submit" value="Cadastrar">
            </div>
        </form>
    
    </table>
    

{% endblock %}